---
import ArticleBody from "@components/ArticleBody.astro";
import { Seite } from "@components/header/Header.astro";
import { veranstaltungsQuery } from "@lib/graphql/queries";
import { formatDate } from "@lib/utils/format-date";
import gqlClient from "@lib/utils/gql-client";
import Layout from "src/layouts/Layout.astro";

export async function getStaticPaths() {
    return (await gqlClient.request(veranstaltungsQuery)).veranstaltung
        .map((e) => {
            return {
                params: { veranstaltung: e.slug },
                props: e,
            };
        });
}

const {slug, titel, datum, beschreibung} = Astro.props;

console.log(slug);

---

<Layout title={titel ?? "Aktuelles"} page={Seite.Aktuelles}>
    <main>
        <h1>{titel}</h1>
        <p class="date">{formatDate(new Date(datum))}</p>
        <ArticleBody html={beschreibung ?? "<p>Keine Beschreibung vorhanden.</p>"}></ArticleBody>
    </main>
</Layout>

<style lang="stylus">
    main
        width 90%
        max-width: 800px
        margin: auto
</style>