---
import Layout from "../layouts/Layout.astro";
import Header, { Seite } from "@components/header/Header.astro";
import VeranstaltungsCard from "@components/VeranstaltungsCard.astro";
import gqlClient from "@lib/utils/gql-client";
import { getFileUrl } from "@lib/utils/helper";
import { veranstaltungsQuery } from "@lib/graphql/queries";

const { veranstaltung: veranstaltungen } = await gqlClient.request(
  veranstaltungsQuery
);
---

<Layout title="Aktuelles">
  <Header currentPage={Seite.Aktuelles} />
  <main>
    <h1>Aktuelles</h1>
    <div>
      {
        veranstaltungen.map((v) => (
          <VeranstaltungsCard
            beschreibung={v.beschreibung ?? "Ups da ist etwas schiefgelaufen."}
            date={v.datum}
            featured_image_url={getFileUrl(v.featured_image?.id)}
            titel={v.titel ?? "Ups da ist etwas schiefgelaufen."}
            slug={v.slug ?? undefined}
          />
        ))
      }
    </div>
  </main>
</Layout>

<style>
  div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }
</style>
