---
import DownloadButton from "@components/Download-Button.astro";
import SimplePageLayout from "@layouts/SimplePageLayout.astro";
import { downloadsQuery } from "@lib/graphql/queries";
import gqlClient from "@lib/utils/gql-client";
import { getFileUrl } from "@lib/utils/helper";

const downloads = (await gqlClient.request(downloadsQuery)).downloads.filter(
  (download) => download.file?.id
);
---

<SimplePageLayout
  subtitle="Stets auf Abruf!"
  title="Downloads"
  description="Unsere Downloads. Wichtige Dokumente stets auf Abruf!"
>
  <div class="flex flex-row flex-wrap gap-5 mt-5 min-h-[50vh]">
    {
      downloads.map((download) => (
        <DownloadButton
          link={getFileUrl(download.file?.id)!}
          title={download.title ?? "Datei"}
        />
      ))
    }
  </div>
</SimplePageLayout>
