---
import Tag from "@components/Tag.astro";
import { impressumsQuery } from "@lib/graphql/queries";
import gqlClient from "@lib/utils/gql-client";
import Layout from "src/layouts/Layout.astro";

const { Impressum: impressum } = await gqlClient.request(impressumsQuery);
const date = `Zuletzt geändert: ${new Date(
  impressum?.date_updated
).toLocaleDateString("de-DE", {
  weekday: "long",
  year: "numeric",
  month: "long",
  day: "numeric",
})}`;
---

<Layout title="Impressum" description={impressum?.description ?? undefined}>
  <main class="py-10 px-5 max-w-2xl m-auto">
    <Tag title={date} />
    <div class="impressum-text" set:html={impressum?.text} />
  </main>
</Layout>

<style>
  :global(.impressum-text > *) {
    @apply my-3;
  }

  :global(.impressum-text > h1, .impressum-text > h2, .impressum-text > h3) {
    @apply mt-6;
  }
</style>
