---
import Layout from "../layouts/Layout.astro";
import Header, { Seite } from "../components/header/Header.astro";
import VeranstaltungsCard from "@components/VeranstaltungsCard.astro";
import { veranstaltungen } from "src/utils/directus";

const featuredEvent = veranstaltungen[0];
---

<Layout title="Welcome to Astro.">
  <Header currentPage={Seite.Startseite} />
  <main>
    <a class="org-logo" href="#heading">
      <img src="/images/org-logo.png" alt="Logo" />
    </a>
    <section id="heading" class="title-section">
      <div class="layout-box">
        <div class="action-column">
          <VeranstaltungsCard veranstaltung={featuredEvent} />
        </div>
        <div class="title-column">
          <h2 class="subtitle">Harz, harzer, am harzesten.</h2>
          <h1 class="big-title">
            Hier bitte einen netten Slogan einfügen: Die Website des Harzklub
            Hohegeiß
          </h1>
          <hr />
          <!-- TODO: Calendar icon -->
          <a href="/aktuelles" class="title-link"
            >Unsere Verantstaltungen &gt;</a
          >
        </div>
      </div>
    </section>
  </main>
</Layout>

<style>
  .title-section {
    height: 100vh;
  }

  .org-logo {
    position: fixed;
    display: flex;
    justify-content: center;
    padding: 10px;
    align-items: center;
    bottom: 30px;
    right: 30px;
    border-radius: 20px;
    box-shadow: 7px 9px 10px -5px rgba(102, 102, 102, 0.75);
    -webkit-box-shadow: 7px 9px 10px -5px rgba(102, 102, 102, 0.75);
    -moz-box-shadow: 7px 9px 10px -5px rgba(102, 102, 102, 0.75);
    cursor: pointer;
  }
</style>
