---
import Button from "../Button.astro";
import MenuItem from "./MenuItem.astro";
export interface Props {
    currentPage: Seite;
}

export enum Seite {
    Startseite,
    Aktuelles,
    Heimatgruppe,
    Jugendgruppe,
    Wanderungen,
    DerHarz,
    UeberUns,
}

type SeitenInfo = {
    href: string;
    page: Seite;
    name: string;
};

const pages: Array<SeitenInfo> = [
    { page: Seite.Startseite, href: "/", name: "Startseite" },
    { page: Seite.Aktuelles, href: "/aktuelles", name: "Aktuelles" },
    { page: Seite.Heimatgruppe, href: "/heimatgruppe", name: "Heimatgruppe" },
    { page: Seite.Jugendgruppe, href: "/jugendgruppe", name: "Jugendgruppe" },
    { page: Seite.Wanderungen, href: "/wanderungen", name: "Wanderungen" },
    { page: Seite.DerHarz, href: "/der-harz", name: "Der Harz" },
    { page: Seite.UeberUns, href: "/ueber-uns", name: "Über uns" },
];

const { currentPage: page } = Astro.props;
---

<header>
    <a href="/">
        <img src="/new_logo.svg" alt="Logo des Harzklub" />
    </a>
    <div class="menu">
        {
            pages.map((seite) => (
                <MenuItem
                    href={seite.href}
                    currentPage={seite.page === page}
                    name={seite.name}
                />
            ))
        }
        <Button title="Mach mit" href="about-us" />
    </div>
</header>

<style>
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-inline: 20px;
        margin-block: 25px;
    }

    .menu {
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;
    }
</style>
