---
import type { Seite } from "./Header.astro";

export interface Props {
    seite: Seite;
    currentPage: boolean;
}

const { seite, currentPage } = Astro.props;

const href = seite.toLowerCase().replaceAll(" ", "_");
const name = seite.toString();

---

<a href={href} class={currentPage ? "aktuelle-seite" : ""}>{name}</a>

<style lang="stylus">
    .aktuelle-seite 
        text-decoration: underline
    a 
        text-decoration: none
        color: black
    //TODO: add text variable for color
</style>
