---
export interface Props {
    href: string;
    title: string;
}

const { href, title } = Astro.props;
---

<a href={href}>{title}</a>

<style>
    a {
        /* TODO: css color variablen einsetzen */
        background-color: #43790d;
        color: white;
        border-radius: 10px;
        text-decoration: none;
        padding-inline: 20px;
        padding-block: 10px;
    }
</style>
