---
export interface Props {
  title: string;
  link: string;
}

const { title, link } = Astro.props;
---

<a
  href={link}
  class="flex flex-row bg-white rounded-lg w-max drop-shadow-md justify-between items-center"
>
  <i
    class="ri-download-line border-r-2 border-gray-300 py-2 px-3 text-gray-600 text-2xl aspect-square"
  ></i>
  <div class="hover:underline h-full flex px-4 justify-center items-center">
    {title}
  </div>
</a>
