---
import { UNDER_CONSTRUCTION, IMPRESSUM, DOWNLOADS } from "src/data/links";

const footerLinks = [
  {
    link: UNDER_CONSTRUCTION,
    title: "Startseite",
  },
  {
    link: UNDER_CONSTRUCTION,
    title: "Aktuelles",
  },
  {
    link: UNDER_CONSTRUCTION,
    title: "Heimatgruppe",
  },
  {
    link: UNDER_CONSTRUCTION,
    title: "Jugendgruppe",
  },
  {
    link: UNDER_CONSTRUCTION,
    title: "Wanderungen",
  },
  {
    link: UNDER_CONSTRUCTION,
    title: "Wanderwegefinder",
  },
  {
    link: UNDER_CONSTRUCTION,
    title: "Alle Wanderwege",
  },
  {
    link: UNDER_CONSTRUCTION,
    title: "Der Harz",
  },
  {
    link: UNDER_CONSTRUCTION,
    title: "Über uns",
  },
  {
    link: UNDER_CONSTRUCTION,
    title: "Mitglied werden",
  },
  {
    link: IMPRESSUM,
    title: "Datenschutz",
  },
  {
    link: IMPRESSUM,
    title: "Impressum",
  },
];
---

<footer class="bg-lime-500">
  <div
    class="grid grid-cols-4 gap-24 py-20 px-[15%] md:flex md:flex-col md:gap-6 md:pb-10"
  >
    <div>
      <img
        src="/images/logo-white.svg"
        alt="Das Logo der Website. Drei Tannen und rechts daneben der Schriftzug: 'Harzklub Hohegeiß' in zwei Zeilen."
      />
      <p class="text-white font-medium my-5 leading-5">
        Pflege und Erhaltung von Harzer Brauchtum, Harzer Liedgut, Harzer
        Festtags- und Arbeitstrachten sowie der Mundart seit 1011.
      </p>
      <div>
        <a href="#" class="hover:scale-105 transition-all"
          ><i class="ri-instagram-line text-white mr-1 text-xl font-medium"></i>
        </a>
        <a
          href="mailto:info@harzklub-hohegeiss.de"
          class="hover:scale-105 transition-all"
          ><i class="ri-mail-line text-white mr-1 text-xl font-medium"></i>
        </a>
      </div>
    </div>
    <div class="col-span-2 flex flex-col flex-wrap h-52 md:h-full">
      {
        footerLinks.map((page) => (
          <a href={page.link} class="text-white my-2 hover:underline">
            {page.title}
          </a>
        ))
      }
    </div>
    <div
      class="flex flex-col h-full justify-evenly w-52 items-stretch md:h-72 sm:w-full sm:max-w-[300px]"
    >
      <div class="relative">
        <img
          src="/images/three-people.svg"
          class="bottom-10 absolute w-2/3 right-10"
          alt="Drei Icons von Menschen, die neugierig über den Button schauen."
        />
        <a
          href={UNDER_CONSTRUCTION}
          class="button button-green rounded-md w-full text-center hover:scale-105 transition-all"
          style="color: white; box-shadow: none;">Mitglied werden &gt;</a
        >
      </div>
      <div class="relative">
        <img
          src="/images/documents.svg"
          alt="Drei Icons von Dokumenten"
          class="absolute bottom-8 w-2/3 right-10"
        />
        <a
          href={DOWNLOADS}
          class="button button-green text-center rounded-md w-full hover:scale-105 transition-all"
          style="color: white; box-shadow: none;">Downloadbereich &gt;</a
        >
      </div>
    </div>
  </div>
  <p class="text-white text-center pb-2 font-normal px-5 leading-5">
    Copyright 2023 - Harzklub-Zweigverein-Hohegeiß e.V.
  </p>
</footer>
