---
import { ORG_LOGO_LINK } from "src/data/links";
---

<a
  class="fixed bottom-6 right-6 rounded-2xl justify-center items-center p-3 drop-shadow-lg bg-base-100 z-20 hover:scale-105 transition-all"
  href={ORG_LOGO_LINK}
>
  <img src="/images/org-logo.png" alt="Logo" />
</a>
