---
import sanitizeHtml from "sanitize-html";
import Tag from "./Tag.astro";
import { ERROR_PAGE } from "@lib/links";
import NextEvent from "./NextEvent.svelte";

export type Props = {
  titel?: string;
  date?: string;
  featured_image_url?: string;
  slug?: string;
  short_description?: string;
  recurring?: boolean;
  wiederholung?: string;
};

const FEATURED_IMAGE_DEFAULT_IMAGE = "/images/kurpark_teich.jpg";

const {
  featured_image_url,
  titel,
  date,
  slug,
  short_description,
  recurring,
  wiederholung,
} = Astro.props;
---

<div
  class="flex flex-row rounded-4xl justify-end bg-cover bg-no-repeat bg-left drop-shadow-md h-min min-h-full w-full"
  style={`background-image: url(${
    featured_image_url + "?fit=cover&with=500&quality=50" ??
    FEATURED_IMAGE_DEFAULT_IMAGE
  });`}
>
  <div
    class="bg-info flex flex-col rounded-4xl items-start p-4 w-2/3 min-h-min"
  >
    <div class="flex w-full flex-row justify-between mb-4 sm:mb-2">
      <div
        class="flex flex-row items-center font-medium sm:text-sm justify-start"
      >
        <i class="ri-calendar-event-line text-xl mr-2 sm:text-sm"></i>
        <NextEvent
          date={date!}
          recurring={recurring}
          wiederholungsRule={wiederholung}
          formatDateConfig={{ month: "2-digit", day: "2-digit" }}
        />
      </div>
      <Tag title="Veranstaltung" />
    </div>
    <p class="font-semibold text-lg">{titel ?? "Nächtes Event"}</p>
    <p class="leading-tight text-gray-800 sm:text-sm">
      {
        sanitizeHtml(short_description || "Wir freuen uns auf euch!", {
          allowedTags: [],
        })
      }
    </p>
    <div class="grow flex flex-col justify-end py-2">
      <a
        class="btn btn-outline btn-primary px-2 py-2 text-xs min-h-0 h-min sm:text-xs hover:scale-105 transition-all"
        href={slug ? "/veranstaltung/" + slug : ERROR_PAGE}
        >&gt; Mehr erfahren</a
      >
    </div>
  </div>
</div>
