---
import type { Veranstaltung } from "src/data/veranstaltungen";
import sanitizeHtml from "sanitize-html";
import Tag from "./Tag.astro";
import { UNDER_CONSTRUCTION } from "src/data/links";

export type Props = {
  veranstaltung: Veranstaltung;
};

const { veranstaltung: v } = Astro.props;
---

<div
  class="flex flex-row rounded-4xl justify-end bg-cover bg-no-repeat bg-left drop-shadow-md h-min min-h-full"
  style={`background-image: url(${
    import.meta.env.DIRECTUS_HOST + "/assets/" + v.featured_image
  });`}
>
  <div
    class="bg-info flex flex-col rounded-4xl items-start p-4 w-2/3 min-h-min"
  >
    <div class="flex w-full flex-row justify-between mb-4 sm:mb-2">
      <p class="flex flex-row items-center font-medium sm:text-sm">
        <i class="ri-calendar-event-line text-xl mr-2 sm:text-sm"></i>{
          v.formattedDate
        }
      </p>
      <Tag title="Veranstaltung" />
    </div>
    <p class="font-semibold text-lg">{v.titel}</p>
    <p class="leading-tight text-gray-800 sm:text-sm">
      {
        sanitizeHtml(v.beschreibung || "Wir freuen uns auf euch!", {
          allowedTags: [],
        })
      }
    </p>
    <div class="grow flex flex-col justify-center py-2">
      <!-- href={"/veranstaltung/" + v.slug} -->
      <a
        class="btn btn-outline btn-primary px-2 py-2 text-xs min-h-0 h-min sm:text-xs hover:scale-105 transition-all"
        href={UNDER_CONSTRUCTION}>&gt; Mehr erfahren</a
      >
    </div>
  </div>
</div>
