---
import "remixicon/fonts/remixicon.css";
export interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="de" class="scroll-smooth scroll-p-20">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="/styles/fonts.css" />
    <meta
      name="description"
      content={description ??
        "Die Website des Harzklub Zweigverein Hohegeiß e.V."}
    />
    <title>Harzklub Hohegeiß | {title}</title>
  </head>
  <body class="bg-light-blue pt-20">
    <slot />
    <style>
      /* :root {
        --font-size-xs: clamp(0.4rem, 0.2vw + 0.55rem, 0.65rem);
        --font-size-small: clamp(0.5rem, 0.2vw + 0.7rem, 0.8rem);
        --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
        --font-size-lg: clamp(1.2rem, 0.7vw + 1.2rem, 1.5rem);
        --font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);

        --color-text: #1f1b1b;
        --color-text-i: #f8faff;
        --color-bg: #e5e5e5;
        --color-accent: #43790d;
      }

      html {
        font-family: "Manrope", system-ui, sans-serif;
        font-size: var(--font-size-base);
        color: var(--color-text);
        background-color: var(--color-bg);
      }

      body {
        padding-inline: 20px;
        margin: 0;
      }

      :global(h1) {
        font-size: var(--font-size-xl);
      }

      :global(h2) {
        font-size: var(--font-size-lg);
      }

      :global(code) {
        font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
          DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
      } */
      @tailwind base;
      @tailwind components;
      @tailwind utilities;

      @layer components {
        .icon-text {
          @apply flex flex-row items-center;
        }
      }
    </style>
  </body>
</html>
