---
import Footer from "@components/Footer.astro";
import type { Seite } from "@components/header/Header.astro";
import Header from "@components/header/Header.astro";
import OrgLogo from "@components/OrgLogo.astro";
import "remixicon/fonts/remixicon.css";
export interface Props {
  title: string;
  description?: string;
  page?: Seite;
}

const { title, description, page } = Astro.props;
---

<!DOCTYPE html>
<html lang="de" class="scroll-smooth scroll-p-20">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="/styles/fonts.css" />
    <meta
      name="description"
      content={description ??
        "Die Website des Harzklub Zweigverein Hohegeiß e.V."}
    />
    <title>Harzklub Hohegeiß | {title}</title>
  </head>
  <body class="bg-base-100 pt-20">
    <Header currentPage={page} />
    <OrgLogo />
    <slot />
    <Footer />
    <style>
      :global(input),
      :global(textarea),
      :global(button),
      :global(select),
      :global(a),
      :global(html) {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
      }
      @tailwind base;
      @tailwind components;
      @tailwind utilities;

      @layer components {
        .icon-text {
          @apply flex flex-row items-center;
        }
      }
    </style>
  </body>
</html>
